# Managed by ansible

# Secrets for authentication using CHAP
# client     server     secret     IP addresses
{% for item in l2tp_config.users %}
"{{ item.name }}"  "{{ l2tp_config.name }}"  "{{ item.password }}"  {{ item.ip | default("*") }}
{% endfor %}