; Managed by ansible
;
; This is a minimal sample xl2tpd configuration file for use
; with L2TP over IPsec.
;

{% if l2tp_config.is_server is defined and l2tp_config.is_server %}
[global]
ipsec saref = yes
listen-addr = 0.0.0.0

[lns default]
ip range = {{ l2tp_config.subnet }}
local ip = {{ l2tp_config.local_ip }}
require chap = yes
refuse pap = yes
require authentication = yes
pppoptfile = {{ l2tp_config_base }}/ppp/options.xl2tpd
{% else %}
[lac {{ l2tp_config.name }}]
lns = {{ l2tp_config.address }}
pppoptfile = {{ l2tp_config_base }}/ppp/options.xl2tpd.client
{% endif %}
ppp debug = yes
length bit = yes