; Managed by ansible
;
; This is a minimal sample xl2tpd configuration file for use
; with L2TP over IPsec.
;

[global]
listen-addr = 0.0.0.0

[lns {{ l2tp_config.name }}]
ip range = {{ l2tp_config.subnet }}
local ip = {{ l2tp_config.local_ip }}
require chap = yes
refuse pap = yes
require authentication = yes
ppp debug = yes
pppoptfile = {{ l2tp_config_base }}/ppp/options.xl2tpd
length bit = yes